@mixin card($color) {
    background-color: $color;

    border-top: 5px solid darken($color, 10%);
}

.c-work-cards {
    @include clearfix;
}

.c-card {
    padding: $margin $margin*2 $margin*2;

    float: left;
    width: 50%;

    h2 {
        text-align: center;
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    .c-card {
        float: none;
        width: 100%;

        &::after {
            content: '';

            display: block;
            width: 10%;
            height: $margin*3;

            margin: 0 auto;
            padding-bottom: $margin*3;

            border-bottom: 1px dashed $brand;
        }

        &:last-of-type::after {
            display: none;
        }
    }
}

.c-card__stats {
    list-style-type: none;

    text-align: center;

    margin: 0 $margin*-1 $margin*3;

    li {
        position: relative;

        display: inline-block;

        &:nth-of-type(n+2) {
            margin-left: $margin*2;
        }

        &::after {
            content: '';

            display: block;

            height: 5px;
            width: 5px;
            border-radius: 5px;
            background-color: $brand;

            position: absolute;
            right: -15px;
            top: 40%;
        }

        &:last-of-type::after {
            height: 0;
            width: 0;
        }
    }
}

@media (max-width: 380px) {
    .c-card__stats {
        font-size: 0.9em;
    }
}

.c-card__description {
    display: none;

    padding: $margin*2;
}
