@mixin card($color) {
	background-color: $color;

	border-top: 5px solid darken($color, 10%);
}

.c-card {
	padding: 0 10px;

	h2 {
		text-align: center;
		font-size: 2.5rem;
	}

	a {
		color: $black;
	}
}

.c-card__stats {
	list-style-type: none;

	text-align: center;

	margin-bottom: 30px;

	li {
		position: relative;

		display: inline-block;

		&:nth-of-type(n+2) {
			margin-left: 20px;
		}

		&::after {
			content: '';

			display: block;

			height: 5px;
			width: 5px;
			border-radius: 5px;
			background-color: $black;

			position: absolute;
			right: -15px;
			top: 40%;
		}

		&:last-of-type::after {
			height: 0;
			width: 0;
		}
	}
}

@media (max-width: 380px) {
	.c-card__stats {
		font-size: 0.9em;
	}
}

.c-card__description {
	display: none;

	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}