.c-contact {
    background-color: $white;

    .socicon {
        text-decoration: none;
        color: $white;
        background-color: $brand;
        border-radius: 50%;

        &:before {
            display: block;

            font-size: 3.0rem;
            padding: $margin*2;
        }
    }

    copyright {
        display: block;

        margin-top: $margin*3;

        text-align: center;
    }
}
