.c-contact {
    text-align: center;
    margin: $margin*3;

    p {
        padding: 0 $margin*2;
    }
}

.c-contact-email {
    display: inline-block;

    border-radius: 5px;
    padding: $margin*3;
    margin-top: $margin*3;

    background-color: $brand;
    color: #fff;

    text-decoration: none;

    .fa {
        margin-right: $margin/2;
    }
}

.c-contact-social {
    display: block;
    margin: $margin*3;

    li {
        display: inline-block;
    }

    .fa {
        text-decoration: none;
        color: $white;
        background-color: $black;
        border-radius: 50%;

        &:before {
            display: block;

            font-size: 2.0rem;
            padding: $margin*1.5;
        }
    }
}
