.t-header {
    @include clearfix;

    border-top: 5px solid $brand;

    padding: $margin*3;
}

.t-header__title {
    float: left;

    text-decoration: none;
    color: $black;

    font-size: 2rem;
}

.t-header__navigation {
    float: right;

    li {
        display: inline-block;
    }
}

.t-header__link {
    padding: $margin;

    text-decoration: none;
    color: $black;
}

.t-header__link--selected {
    color: $brand;
    border: 1px solid $brand;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .t-header {
        text-align: center;
    }

    .t-header__title {
        display: none;
    }

    .t-header__navigation {
        float: none;
    }

}
