.c-hero {
    margin-top: $margin*6;

    text-align: center;
}

.c-hero__profile {
    border-radius: 8px;
    max-width: 200px;
}

.c-hero__about {
    padding: 10px 20px;

    h1 {
        margin: $margin*3 0;
    }
}

@media (max-width: 600px) {
    .c-hero {
        margin-top: $margin;
    }
    
    .c-hero__profile {
        max-width: 100px;
    }
}
