.c-hero {
}

.c-hero__about {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);

    padding: 10px 20px;

    h1 {
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
}

.c-hero__about--mobile {
    display: none;
}

@media (max-width: 720px) {
    .c-hero__about {

        h1 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 600px) {
    .c-hero__about {
        padding: 5px 10px;

        h1 {
            font-size: 1.7rem;
        }
    }
}