.c-hero {
    margin-top: $margin*6;

    text-align: center;
}

.c-hero__profile {
    border-radius: 8px;
    max-width: 200px;
}

.c-hero__about {
    padding: 10px 20px;

    h1 {
        margin: $margin*3 0;
    }
}

.c-hero__about--mobile {
    display: none;
}

@media (max-width: 720px) {
    .c-hero__about {
        h1 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 600px) {
    .c-hero__about {
        padding: 5px 10px;

        h1 {
            font-size: 1.7rem;
        }
    }
}