@mixin separator {
    &::after {
        content: '';

        display: block;
        width: 10%;
        height: $margin*3;

        margin: 0 auto;
        padding-bottom: $margin*3;

        border-bottom: 1px dashed $brand;
    }

    &:last-of-type::after {
        display: none;
    }
}
