

.c-philosophy {
    padding: $margin*2;

    text-align: center;

    .fa {
        width: 150px;
        height: 150px;
        padding: $margin*2;

        border-radius: 50%;
        background-color: $brand;

        color: $white;
        font-size: 6.5rem;
        text-align: center;

        &::before {
            position: relative;
            top: -13px;

            font-size: .8em;
        }

        &.fa-play::before {
            left: 10px;
        }

        &.fa-music::before {
            top: -20px;
            left: -5px;
        }
    }

    p {
        margin-bottom: $margin*3;
    }

    .c-media {
        margin-top: $margin*2;
    }
}

@media (max-width: 500px) {
    .c-what-i-do {
        .col {
            float: none;
            width: 100%;
        }

        .fa {
            width: 100px;
            height: 100px;
            padding: $margin*1.5;

            font-size: 3.5rem;

            &::before {
                top: 0;
            }

            &.fa-music::before {
                top: -5px;
                left: -3px;
            }

            &.fa-play::before {
                left: 5px;
            }
        }
    }
}
