.c-what-i-do {
}

.c-philosophy {
    margin: $margin;
    text-align: center;

    .fa {
        text-align: center;
        font-size: 6.5rem;
        color: $white;
        background-color: $brand;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        padding: $margin*2;

        &:before {
            padding: $margin*2;
        }
    }

    .fa-puzzle-piece:before {
        position: relative;
        top: -7px;
        font-size: 0.8em;
    }

    p {
        text-align: left;
        margin-bottom: $margin*3;
    }
}

@media (max-width: 600px) {
    .c-what-i-do .col {
        float: none;
        width: 100%;
    }
}
